@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,200&family=Roboto:wght@300&display=swap');

@import url('https://cdn-uicons.flaticon.com/uicons-thin-straight/css/uicons-thin-straight.css');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

* {
  font-family: 'Nunito', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.logo {
  height: 100px;
  width: 200px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  height: 60px;



}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;

}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

#hero {
  background-image: url(https://wallpaperaccess.com/full/2563120.jpg);
  height: 64vh;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;



}

.text {
  align-items: center;
  font-size: 30px;
  margin-top: 100px;
  margin-left: 750px;
  padding: 5px 5px;
}

#hero h1 {
  color: #088178;
  margin-top: -43px;
}

#hero button {
  border: solid 1px;
  background-color: antiquewhite;
  height: 30px;
  width: 100px;
  border-radius: 10px;
  font-weight: 600;
  color: #088178;
}

#hero button:hover {
  cursor: pointer;
  background-color: rgb(232, 189, 132);
  -webkit-box-shadow: 10px 10px 36px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 36px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 36px -16px rgba(0, 0, 0, 0.75);

}

h4 {
  margin-bottom: -20px;
}

#hero p {
  color: #666363
}

.line {
  width: 100%;
  height: 3px;
  background-color: #D3CDCC;
  margin-top: 34px;

}

#feature {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-wrap: wrap;
}

.feature-box {
  border: solid 2px #D3CDCC;
  width: 167px;
  height: 152px;
  display: flex;

  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-box img {
  height: 119px;
  width: 135px;
  margin-top: 5px;
}

.feature-box div {
  font-weight: 600;
  color: #1d1e1e;
  ;

  margin-top: 5px;
}

.feature-box:hover {
  cursor: pointer;
  transform: translate(5px, -7px);
  -webkit-transform: translate(5px, -7px);
  -moz-transform: translate(5px, -7px);
  webkit-box-shadow: 1px -1px 24px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -1px 24px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px -1px 24px 0px rgba(0, 0, 0, 0.75);
}

.pro-image {
  height: 119px;
  width: 135px;
  margin-top: 5px
}
.pro-heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.main-heading{
  font-size: 60px;
  font-weight: 700;
 
}
.sub-heading{
  font-size: 40px;
  font-weight: 300;
  color: #666363;
}

.des{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pro-1{
  border: 2px solid rgb(132, 125, 125);
  width: 200px;
  border-radius: 10px;
  background-color:#F7F2F1;
  margin-top: 27px;
}
.pro-1:hover{
  cursor: pointer;
}
.pro-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 16px;
  padding: 19px;
  padding-top: 5px;
}
.pro-image{
  margin-left: 30px;
  margin-top: 10px;
}
.brand-name{
  
  font-weight: 600;
  color: rgb(149, 144, 144);
}
.pro-container .pro-1 .des div {
  color: rgb(70, 67, 54);
}
.star{
  color: gold;
}
.c{
  color: green;
}
#banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("https://mcdn.wallpapersafari.com/medium/93/96/okbNfA.jpg");
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner h4{
  color: #fff;
  font-size: 16px;
}

#banner h2{
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}
#banner h2 span{
color: #ef3636;
}
button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000 ;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transform: 0.2s;
  margin-top: 15px;
}
#banner button:hover{
  background-color: #088178;
  color: white;
}
#sm-banner .banner-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 454px;
  height: 247px;
  
  background-image: url("https://img.freepik.com/free-photo/beautiful-casual-woman-fashion-set_1203-7833.jpg");
  

}
#sm-banner .banner-box-2{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 454px;
  height: 247px;

  
  background-image: url("https://www.shutterstock.com/image-photo/fashionable-confident-blonde-woman-wearing-260nw-2117571818.jpg");
  

}
#sm-banner .banner-box h4{
  font-size: 30px;
  margin-bottom: 5px;
}
#sm-banner .banner-box-2 h4{
  font-size: 30px;
  margin-bottom: 5px;
}
#sm-banner .banner-box button:hover{
background-color: #088178;
color: white;
}
#sm-banner .banner-box-2 button:hover{
  background-color: #088178;
  color: white;
  }
#sm-banner{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  flex-wrap: wrap;
}
#sm-banner h4{
  color: rgba(4, 71, 1, 0.963);
  font-size: 20px;
  font-weight: 300;
}
#banner-3{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  flex-wrap: wrap;
}


#banner-3 .banner-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  background-image: url("https://images.unsplash.com/photo-1439158771502-46975f6e44e9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZmFzaGlvbiUyMHdhbGxwYXBlcnxlbnwwfHwwfHw%3D&w=1000&q=80");
}
#banner-3 .banner-box h2{
  color: #088178;
  font-size: 40px;
}
#banner-3 .banner-box h3{
  color: rgb(103, 12, 12);
  font-size: 30px;
}
#banner-3 .banner-box-2 h2{
  color: #088178;
  font-size: 40px;
}
#banner-3 .banner-box-2 h3{
  color: rgb(103, 12, 12);
  font-size: 30px;
}
#banner-3 .banner-box-3 h2{
  color: #088178;
  font-size: 40px;
}
#banner-3 .banner-box-3 h3{
  color: rgb(103, 12, 12);
  font-size: 30px;
}
#banner-3 .banner-box-2{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  background-image: url("https://media.istockphoto.com/id/1308237234/photo/women-wearing-elegant-dresses-street-style-detail.jpg?b=1&s=612x612&w=0&k=20&c=MZfHalFKficJsrrApFRlZBXRMvL-6umBimtDP0HQDWA=");
}
#banner-3 .banner-box-3{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  background-image: url("https://images.pexels.com/photos/949670/pexels-photo-949670.jpeg?auto=compress&cs=tinysrgb&w=600");
}
#newsletter{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/306/797/84/adult-blur-fashion-girls-landscape-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
  margin-top: 40px;
  
}
#newsletter .newstext h4{
  font-size: 38px; 

}
#newsletter .newstext p{
  font-size: 20px;
}
#newsletter .newstext p span{
  color: rgb(115, 59, 4);
}
#newsletter .form input{
  font-size: 20px;
}
#newsletter .form button{
  font-size: 20px;
  background-color: #088178;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.newstext{
  margin-left: 20px;
}
.form{
  margin-right: 20px;
}
.icons{
  margin-top: 3px;
  margin-left: 19px;
}
.col h4{
  margin-bottom: 5px;
  margin-left: 20px;
}
.col{
  margin-left: 20px;
  
}
.follo{
  font-size: 20px;
  font-weight: 600;
}
.contact{
  font-size: 20px;
  font-weight: 600;
}
.logo-footer{
  margin-top: 37px;
  margin-bottom: -24px;
  margin-right: 5px;
  height: 49px;
  width: 108px;
}
.links{
  display: flex;
  
  flex-direction: column;
  margin-top: 83px;

}
.links a{
  text-decoration: none;
  color: black;
  margin: 5px;
}
footer{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
.text-color{
  color: rgb(149, 144, 144);
}
@media(max-width:799px){
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
   
    
  
}
}
